        * {
            padding: 0;
            margin: 0;
        }
        
        header {
            background: rgba(0, 0, 0, 0.9);
            width: 100%;
            position: fixed;
            z-index: 100;
        }
        
        .nav-link {
            color: aliceblue;
        }
        
        form {
            padding: 70px;
        }
        
        #consulta {
            display: none;
            height: 100%;
            width: 100%;
            padding-top: 80px;
        }
        
        #Cargar {
            height: 100%;
            padding-top: 80px;
            margin: 0 auto;
            clear: both;
            width: 100%;
        }
        
        th {
            max-width: 40px !important;
            word-wrap: break-word;
            text-align: center;
        }
        
        input {
            margin: 0px;
            padding: 0px;
            width: 100px;
            margin-left: -17px;
        }
        
        .container-fluid {
            max-height: 800px;
        }
        
        h2 {
            text-align: center;
        }